<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IPL Points Table</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<h1>This is IPL Points Table</h1>
<h2>This year of IPL is sponsored by {{name}}</h2>
<h3>This table is last updated at {{time}}</h3>
<img src="{% static 'images/about.jpg' %}">
<img src="{% static 'images/about-2.jpg' %}">
<table class="redTable">
    <tr>
        <th>Position</th>
        <th>Team Name</th>
        <th>Total Matches Played</th>
        <th>Won</th>
        <th>Loss</th>
        <th>Points</th>
    </tr>
    <tr>
        <td>1</td>
        <td>CSK</td>
        <td>20</td>
        <td>15</td>
        <td>5</td>
        <td>30.8</td>
    </tr>
</table>
</body>
</html>