<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Price Details</title>
</head>
<body>
<form action="\second\total\" autocomplete="off">
    <label>Mobiles</label>
    <input type="text" id="mobiles" name="mobiles"><br><br>
    Keyboard: <input type="text" id="keyboard" name="keyboard"><br><br>
    Mouse: <input type="text" id="mouse" name="mouse"><br><br>
    Pendrive: <input type="text" id="pendrive" name="pendrive"><br><br>
    <input type="submit" value="submit">
</form>
</body>
</html>