<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
</head>
<body>
<h1>This is  homepage</h1>
<h2>My name is {{name}} and my age is {{age}}</h2>
<h2><a href="register/">Click here</a> to Register</h2>
<h2><a href="login/">Click here</a> to Login</h2>
<h2><a href="payment/">Click here</a> to Payment</h2>
<h2><a href="second/sample/">Click here</a> to Sample</h2>
<h2><a href="second/ipltable/">Click here</a> to ipltable</h2>
<h2><a href="second/price">Click here</a> to price</h2>
<h2><a href="second/total">Click here</a> to Total</h2>
<h2><a href="second/getstd">Click here</a> to getstd</h2>
<h2><a href="second/stdform">Click here</a> to stdform</h2>
<h2><a href="indigo/iform">Click here</a> to Admission details</h2>


</body>
</html>